# **Sum of square of first n natural numbers**

In [ ]:
def sum_square(n):
  sum = 0
  for i in range(1,n+1):
    sum = sum + i*i
  print(sum)
    
n = int(input())
sum_square(n)

4
30

# **Sum of Cube of first n natural numbers**

In [ ]:
def sum_cube(n):
  sum = 0
  for i in range(1,n+1):
    sum = sum + i**3
  print(sum)

n = int(input())
sum_cube(n)

5
225

# **Find sum of array**

In [ ]:
def sum_array(arr):
  sum = 0
  for i in range(0,len(arr)):
    sum = sum + arr[i]
  print(sum)

arr = list(map(int,input().split()))
sum_array(arr)

2 4 6 8
20

# **Find largest element in an array**

In [ ]:
def largest(arr):
  max = arr[0]
  for i in range(1,len(arr)):
    if max < arr[i]:
      max = arr[i]
  print(max)

arr = list(map(int,input().split()))
largest(arr)

2 4 6 3
6

# **Print ASCII value of character**

In [ ]:
#def ascii(char):
  #if char.isupper():
    #for i in range(65,)
#ascii(char)

char = input()
print(ord(char))

P
80

# **Program for array rotation**

In [ ]:
def array_rotation(arr,pos):
  a = []
  for i in range(pos,len(arr)):
    a.append(arr[i])
  for i in range(0,pos):
    a.append(arr[i])
  print(a)



arr = list(map(int,input().split()))
pos = int(input())
array_rotation(arr,pos)

1 2 3 4 5
3
[4, 5, 1, 2, 3]

# **Reversal algorithm for array rotation**

In [ ]:
def rever(arr,pos):
  start = [0:pos:1]
  print(start)
  end = [pos,len(arr)+1]
  final = []

  start = start.reverse()
  end = end.reverse()
  print(end)

  final.append(end)
  final.append(start)
  final = final.reverse()
  print(final)


arr = list(map(int,input().split()))
pos = int(input())
rever(arr,pos)

1 2 3 4 5 6
2
[0, 2]
None
None

# **Split the array and add first part to the end**

In [ ]:
def split(arr,k):
  a = []
  for i in range(len(arr)//2,len(arr)):
    a.append(arr[i])
  for i in range(0,len(arr)//2):
    a.append(arr[i])
  print(a)

arr = list(map(int,input().split()))
k = int(input())
split(arr,k)

2 4 6 8 10 12
2
[8, 10, 12, 2, 4, 6]

# **Check if a number is in fibonacci series**

In [ ]:
#def fibo(n):
  #if n == 0:
    #return 0
  #elif n==1 or n==2:
    #return 1
  #else:
    #return fibo(n-1)+fibo(n-2)


import math
def isperfectsquare(x):
  s = int(math.sqrt(x))
  return s*s == x

def isfibonacci(n):
  return isperfectsquare(5*n*n+4) or isperfectsquare(5*n*n-4)


n = int(input())
res = isfibonacci(n)
if res == True:
  print("yes")
else:
  print("no")

53
no

# **Program for n'th multiple of number in fibonacci series**