# **Program to Add 2 Numbers**

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
sum = a + b
print("Sum of two number is: ", sum)

Enter first number: 12
Enter second number: 12
Sum of two number is:  24

# **Maximum of two numbers in Python**

In [ ]:
a = int(input("Enter 1st no.: "))
b = int(input("Enter 2nd no.: "))
res = max(a,b)
print("Maximum of 2 no. is: ", res)

Enter 1st no.: 24
Enter 2nd no.: 12
Maximum of 2 no. is:  24

# **Program for factorial of no.**

In [ ]:
n = int(input("Enter no.: "))
def fact(n):
  if n==0 or n==1:
    return 1;
  else:
    return n*fact(n-1)

fact(n)

Enter no.: 4

24

# **Program for Simple Interest**

In [ ]:
P = float(input("Enter amount: "))
r = float(input("Enter interest rate: "))
t = int(input("Enter time period: "))

si = (P*r*t)/100
print("Simple Interest is: ",si)

Enter amount: 2000
Enter interest rate: 10
Enter time period: 1
Simple Interest is:  200.0

# **Program for Compound Interest**

In [ ]:
P = float(input("Enter amount: "))
r = float(input("Enter interest rate: "))
t = int(input("Enter time period: "))

a = P*((1+(r/100))**t)
ci = a - P
print("compound interest is: ",ci)

Enter amount: 1200
Enter interest rate: 5.4
Enter time period: 2
Enter no. of times compounded annually: 1
compound interest is:  133.0992000000001

# **Program to check for Armstrong number ***

In [ ]:
import math
n = int(input("Enter number: "))
s = 0
for i in str(n):
  s = s + pow(int(i),3)

if s==n:
  print("Yeahh!! Given number is armstrong no ")
else:
  print("Given number is not armstrong number ")

Enter number: 371
Yeahh!! Given number is armstrong no

# **Program to find area of circle**

In [ ]:
r = float(input("Enter radius: "))
pi = math.pi

a = pi*pow(r,2)
print("Area of circle is: ",a)

Enter radius: 2
Area of circle is:  12.566370614359172

# **Program to print all prime number in an interval**

In [7]:
a = int(input("Enter upper limit: "))
b = int(input("Enter lower limit: "))

#l = []
#k = []
#for i in range(a,b+1):
  #for j in range(1,i+1):
    #if j%i == 0:
      #l.append(i)
  #if len(l) > 2:
    #k.append(i)
    #l.clear()

#print(k)

for i in range(a,b+1):
  if i>1:
    for j in range(2,i):
      if i%j == 0:
        break
    else:
      print(i)

Enter upper limit: 1
Enter lower limit: 10
2
3
5
7

# **Program to check whether the given number is prime or not**

In [ ]:
n = int(input("Enter a number: "))
l = []
for i in range(1,n+1):
  if n%i == 0:
    l.append(i)

if len(l) >2:
  print("The given number is not prime number")
else:
  print("Given no. is prime number ")

Enter a number: 13
Given no. is prime number

# **Program for n-th Fibonacci series**

In [21]:
n = int(input("Enter number: "))

def fib(n):
  if n== 0:
    return 0
  elif n==1 or n==2:
     return 1
  else:
      return fib(n-1)+fib(n-2)

fib(n)

Enter number: 10

55