# **Sum of elements in a list**

In [ ]:
l = list(map(int,input().split()))
sum = 0
for i in l:
  sum = sum + i
print(sum)

2 4 6 8
20

# **Multiply all numbers in list**

In [ ]:
l = list(map(int,input().split()))
mul = 1
for i in l:
  mul = mul*i
print(mul)

1 2 3
6

# **Smallest number in a list**

In [ ]:
l = list(map(int,input().split()))
min = l[0]
for i in l:
  if i<min:
    min = i
print(min)

2 8 4 1 6
1

# **Reverse a list**

In [ ]:
l = list(map(int,input().split()))
l1 = []
l1 = l[::-1]
print(l1)

2 4 6 8 10
[10, 8, 6, 4, 2]

# **Clear a list**

In [10]:
l = list(map(int,input().split()))
el = int(input())

for i in l:
  if i == el:
    l.remove(i)
print(l)

2 4 6 8 10 12
8
[2, 4, 6, 10, 12]

# **Check if elements exists in a list**

In [16]:
l = list(map(int,input().split()))
el = int(input())

for i in l:
  if i == el:
    print("yes")

2 4 6 8 10
6
yes

# **To find length of list**

In [17]:
l = list(map(int,input().split()))
count = 0
for i in l:
  count +=1
print(count)

2 4 6 8 10
5

# **Swap two elements in a list**

In [21]:
l = list(map(int,input().split()))
in1 = int(input())
in2 = int(input())

t = l[in1]
l[in1] = l[in2]
l[in2] = t
print(l)

2 4 6 8 10 12
2
4
[2, 4, 10, 8, 6, 12]

# **Interchange first and last element in a list**

In [20]:
l = list(map(int,input().split()))
t = l[0]
l[0] = l[len(l)-1]
l[len(l)-1] = t
print(l)

2 4 6 8
[8, 4, 6, 2]

# **Check if given array is monotonic**

In [25]:
def ismonotonic(l):
  return(all(l[i] <= l[i+1] for i in range(len(l) - 1)) or all(l[i] >= l[i+1] for i in range(len(l)-1)))



l = list(map(int,input().split()))
ismonotonic(l)

2 3 5 6 1

False