# **Print all negative numbers in a range**

In [1]:
a = int(input())
b = int(input())
for i in range(a,b+1):
  if i<0:
    print(i)

-5
8
-5
-4
-3
-2
-1

# **Remove multiple elements from a list**

In [4]:
l = list(map(int,input().split()))
l1 = list(map(int,input().split()))

for i in l1:
  if i in l:
    l.remove(i)
print(l)

20 30 40 50
20 50
[30, 40]

# **Cloning or copy a list**

In [6]:
#Shallow copy

a = list(map(int,input().split()))
s = []
s = a
print(s)

2 4 6 8
[2, 4, 6, 8]

In [7]:
#deep copy
import copy
a = list(map(int,input().split()))
s = a.copy()
print(s)

2 4 6 8
[2, 4, 6, 8]

# **Count occurences of an element in a list**

In [8]:
l = list(map(int,input().split()))
el = int(input())
count = 0
for i in l:
  if i==el:
    count +=1
print(count)

20 30 40 20 20 30
20
3

# **Print duplicates from a list of integers**

In [9]:
l = list(map(int,input().split()))
l1 = []
for i in l:
  if i not in l1:
    l1.append(i)
  else:
    print(i)

20 30 20 10 40 50 30 60
20
30

# **Find Cumulative sum of a list**

In [13]:
l = list(map(int,input().split()))
l1 = []
sum = 0
for i in range(0,len(l)):
  sum = sum + l[i]
  l1.append(sum)
print(l1)

2 4 6 8 10
[2, 6, 12, 20, 30]

# **sum of number digits in list**

In [14]:
l = list(map(int,input().split()))
l1 = []
sum = 0
for i in l:
  for j in str(i):
    sum = sum + int(j)
  l1.append(sum)
  sum = 0

print(l1)

12 34 56
[3, 7, 11]

# **Remove empty list from list**

# **Remove empty tuples from a list**

In [ ]:
l = list(map(int,input().split()))

# **Break a list into chunks of size N into python**

In [ ]:
l = list(map(int,input().split()))
n = int(input())
l1 = []