# **Check if a string is Palindrome or not**

In [23]:
def pal(s):
  l = len(s)//2
  s1 = s[:l]
  s2 = s[l+1:]
  l2 = len(s2)
  for i in range(0,len(s1)):
    if s1[i] == s2[l2-1]:
      l2 = l2-1
      continue
    else:
      print("No")
      break

s = str(input())
pal(s)

maram

In [24]:
#Method 2

s = str(input())
if s == s[::-1]:
  print("Yes")
else:
  print("No")

racecar
Yes

# **Check whether the string is symmetrical or Palindrome**

In [27]:
s = str(input())
l = len(s)//2
if s[0:l] == s[l:]:
  print("Yes! Symmetrical")
else:
  print("No")

amaama
Yes! Symmetrical

# **Rverse words in given string in Python**

In [39]:
s = list(map(str,input().split()))
s1 = []
for i in s[::-1]:
  s1.append(i)
print(s1)

jk kj
['kj', 'jk']

In [44]:
s = str(input())
words = s.split()
res = ' '.join(reversed(words))
print(res)

india is our country
country our is india

# **Remove i'th character from string in python**

In [50]:
#method 1
s = str(input())
i = str(input())
s1 = s.replace(i,"")
print(s1)

abcde
c
abde

In [60]:
#method 2
s1 = str(input())
s2 = " "
i = str(input())
for j in s1:
  if i!=j:
    s2 = s2+j
print(s2)

bcd
c
 bd

In [64]:
#method 3
s = str(input())
i = str(input())
l = s.index(i)
s1 = s[:l] + s[l+1:]
print(s1)

abcde
c
abde

# **Check if a substring present in a string**

In [65]:
s1 = str(input())
s2 = str(input())
if s2 in s1:
  print("yes")
else:
  print("No")

abcdefghi
efg
yes

# **Words Frequency in string shorthands**

In [77]:
s1 = str(input())
words = s1.split()
res = {key:s1.count(key) for key in words}
#res = {}
#for key in words:
  #res = {key:s1.count(key)}
print(str(res))

hi hel hi he hi
{'hi': 3, 'hel': 1, 'he': 2}

In [89]:
#method 2
st = str(input())
words1 = st.split()
st1 = []
for i in words1:
  if i not in st1:
    st1.append(i)
    print(i,":",st.count(i))

hi hello hi
hi : 2
hello : 1

# **Find length of string in python**

In [90]:
#method 1
string = str(input())
count = 0
for i in string:
  count +=1
print(count)

palak
5

In [92]:
#method 2
s = str(input())
print(len(s))

abcdef
6

In [97]:
#method 3
s = str(input())
l = 0
for i in s:
  l = l + s.count(i)
print(l)

abcd
4

In [ ]:
#method 4
s = str(input())
count = 0
while s[0:]:
  count = count +1
print(count)

# **Print even length words in a string**

In [101]:
s = str(input())
words = s.split()
for i in words:
  if len(i)%2==0:
    print(i)

india is our country
is

# **Accept the strings which contain all vowels**

In [110]:
s1 = str(input())
s1 = s1.lower()
l = set('aeiou')
s2 = set({})

for i in s1:
  if i in l:
    s2.add(i)
  else:
    pass

if len(s2) == len(l):
  print("Accepted")
else:
  print("Not Accepted")

abcdeiough
Accepted

# **Convert Snake case to Pascal Case**

In [114]:
string1 = str(input())
string2 = ""
for ch in string1:
  if ch.islower():
    string2 = string2 + ch.upper()
  else:
    string2 = string2 + ch
print(string2)

PaLaK
PALAK

In [118]:
string1 = str(input())
#string2 = ""
for ch in string1:
  if ch.islower():
    string1.replace(ch,ch.upper())
print(string1)

Palak
Palak