# **Largest Number in a list**

In [2]:
l = list(map(int,input().split()))
max = l[0]
for i in l:
  if i>=max:
    max = i
print(max)

2 6 12 10 7
12

# **Second largest element in a list**

In [4]:
l = list(map(int,input().split()))
l.sort()
print(l[len(l)-2])

2 6 8 10 12 3
10

# **N largest elements from a list**

In [10]:
l = list(map(int,input().split()))
n = int(input())
l1 = []
l.sort(reverse = True)
for i in l:
  if i not in l1:
    l1.append(i)

print(l1[0:n+1])

10 20 40 50 60 80 40 10
4
[80, 60, 50, 40, 20]

# **Print even numbers in a list**

In [11]:
l = list(map(int,input().split()))
for i in l:
  if i%2 == 0:
    print(i)

1 3 5 2 6 8 13
2
6
8

# **Odd Numbers in a list**

In [12]:
l = list(map(int,input().split()))
for i in l:
  if i%2 !=0:
    print(i)

2 4 6 1 3 5 7 11
1
3
5
7
11

# **Print Even numbers in a range**

In [14]:
a = int(input())
b = int(input())

for i in range(a,b+1):
  if i%2 == 0:
    print(i)

5
17
6
8
10
12
14
16

# **Print all odd numbers in a range**

In [15]:
a = int(input())
b = int(input())
for i in range(a,b+1):
  if i%2 !=0:
    print(i)

4
18
5
7
9
11
13
15
17

# **Print Positive number in a list**

In [16]:
l = list(map(int,input().split()))
for i in l:
  if i>=0:
    print(i)

2 -1 3 4 -5 0 7 -2
2
3
4
0
7

# **Print all negative numbers in a list**

In [17]:
l = list(map(int,input().split()))
for i in l:
  if i<0:
    print(i)

 2 -1 0 3 -4 -5 -8 1
-1
-4
-5
-8

# **Print all positive numbers in a range**

In [18]:
a = int(input())
b = int(input())
for i in range(a,b+1):
  if i>=0:
    print(i)

-8
8
0
1
2
3
4
5
6
7
8